<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type='text/javascript' src="/static/js/bootstrap.js"></script>
    <script type='text/javascript' src="/static/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
</head>
<body>
    {% include "navbar.html" %}
    <div id="top-page" align="center">
        <h3 class="display-3">News Portal</h3>
    </div>
    <br>
    <div class="container" id="content">
        <div class="row row2 justify-content-around" id="articles"></div>
    </div>
</body>
<script>
    search()
</script>
</html>