<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type='text/javascript' src="/static/js/bootstrap.js"></script>
    <script type='text/javascript' src="/static/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
</head>
<body>
    {% include "navbar.html" %}
    <div id="top-page" align="center">
        <h3 class="display-3">News Portal</h3>
    </div>
    <br>
    <div class="container" id="content">
        <div class="row row2 justify-content-around" id="articles">
            {% for site in sites %}
            <div class="col col-md-5 mb-4" id="{{site}}">
                <h5 class="display-5" align="center" >{{ site }}</h5>
                {% for item in data[site] %}
                <div class="row">
                    <div class="col col-md-9" style="border-bottom: 1px solid #eeeded;">
                        {% if item.summary != '' %}
                        <a style="text-decoration: none; color: black;"
                           href="{{item.link}}" target="_blank" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<em>{{item.summary}}</em>">
                            {{item.headline}}
                        </a>
                        {% else %}
                        <a style="text-decoration: none; color: black;" href="{{item.link}}" target="_blank">
                            {{item.headline}}
                        </a>
                        {% endif %}
                    </div>
                    <div class="col col-md-3" style="text-align: right;">
                        <em style="font-size: 12px;">{{get_date_for_show(item.publish_time)}}</em>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>